.area {
    background-color: #79589f;
    color: #fff;
    height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
    
  }
  .menu {
    list-style: none;
    cursor: pointer;
  }
  .menu:hover {
    color: blue;
  }



  .active{
    z-index: 2;
    color: black;
    background-color: white;
    border-color: #E7E7EC;
}
  